.container {
    position: absolute;
    z-index: 1000;
    background-color: rgba(168, 168, 168, 0.36);
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.transactions {
    position: relative;
    top: 80px;
    border: 2px solid black;
    background-color: #e7e7ff;
    width: 900px;
    margin: 0 auto;
    border-radius: 20px;
}
.content {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.topInfo {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 6fr 1fr;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #00168d;
}
.imgWrap {
    margin-right: 15px;
    max-width: 50px;
    border-radius: 10px;
}
.img {
    width: 100%;
}
.titleWrap {
    margin-right: 20px;
}
.title {
    position: relative;
    top: -4px;
    font-size: 24px;
}
.blockNumberWrap {

}
.blockNumber {
    position: relative;
    top: -2px;
    font-size: 22px;
}
.closeWrap {

}
.close {
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 12px white;
    line-height: 1.25;
    background: #00168d;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}
.close:hover {
    background-color: #1c3adc;
}
.close:active {
    transform: scale(0.9);
}
.mainInfo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.rootHashWrap {
    margin-bottom: 15px;
}
.rootHash {
}
.rootHash span {
    font-size: 18px;
    text-decoration: underline 1px solid black;
}
.countWrap {
    margin-bottom: 5px;
}
.count {
    text-align: center;
    font-size: 19px;
    font-family: Arial;
}
.listWrap {
    width: 620px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.buttonsWrap {
    margin-top: 20px;
    text-align: center;
}
.page {
    margin-inline: 5px;
    border: 1px solid #133340;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 17px;
    transition: all 0.3s ease 0s;
}
.page:hover {
    background-color: #18778C;
    color: white;
    font-weight: bold;
}
.page:active {
    transform: rotate3d(300, 100, 100, 30deg);
}