.header {
    flex: 0 1 70px;
    background-color: #18778C;
    max-height: 70px;
    color: #D7D7D9;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
.title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}