.block {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #5BCCD9;
    border: 2px solid #133340;
    color: black;
}
.content {
    font-size: 20px;
}
.blockInfo {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #133340;
}
.imgWrap {
    margin-right: 20px;
    display: flex;
    max-width: 50px;
}
.imgCoin {
    width: 100%;
}
.numberWrap {
    position: relative;
    top: -2px;
    font-size: 22px;
}
.number {}
.mainInfo {}
.elemWrap {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.elemImgWrap {
    max-width: 35px;
    margin-right: 10px;
}
.img {
    width: 100%;
}
.text {
    position: relative;
    top: -2px;
}
.text2 {
    font-size: 16px;
}
.totalDiff {

}
.transactBtn {
    width: 90%;
    margin: 0 auto;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid #133340;
    transition: all 0.3s ease 0s;
}
.elemWrap:last-child {
    margin-bottom: 0px;
    margin-top: 20px;
}
.text:last-child {
    padding-block: 10px;
}
.transactBtn:active {
    background-color: rgba(177, 234, 255, 0.58);
    transform: scale(0.97);
}
