.block {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #5BCCD9;
    border: 2px solid #133340;
    color: black;
}
.content {
    font-size: 18px;
}
.number {
    font-size: 22px;
    margin-bottom: 20px;
}
.info {
    border-radius: 10px;
    padding: 4px;
    text-align: center;
}
.timeBlock {
    border: 1px solid #133340;
    margin-bottom: 5px;
    border-radius: 10px;
}
.time {

}
.sizeBlock {
    border-radius: 10px;
    border: 1px solid #133340;
    margin-bottom: 5px;
}
.size {

}
.diffBlock {
    border: 1px solid #133340;
    border-radius: 10px;
    margin-bottom: 5px;
}
.totalDifficulty {

}
.difficult {
    font-size: 16px;
}
.transactBlock {
    border-radius: 10px;
    border: 1px solid #133340;
    margin-bottom: 5px;
    padding: 5px;
}
.transaction {
    font-size: 20px;
    background: none;
    border: none;
    color: black;
    border-radius: 20px;
    transition: all 0.2s ease 0s;
}
.transaction:active {
    background-color: rgba(255, 255, 255, 0.25);
}