.footer {
    flex: 0 0 70px;
    min-height: 70px;
    background-color: #18778C;
    color: #D7D7D9;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
.content {
    text-align: center;
    font-size: 24px;
    margin-top: 25px;
    font-weight: 500;
}